<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>

  </connectionStrings>
  <appSettings>


    <add key="ConStr" value="Data Source=T24;Initial Catalog=PCIDB;User=sa;Password=sa@#123" />



  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="10485760">
          <readerQuotas/>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <httpRuntime maxRequestLength="603834" executionTimeout="280" />

    <browserCaps>
      <case>
        RequiresControlStateInSession=true
      </case>
    </browserCaps>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <!--controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"-->
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
      <tagMapping/>
    </pages>
    <compilation  targetFramework="4.0">
      <!--targetFramework="4.0"-->
      <assemblies>



        <!--<add assembly="Office, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->

      </assemblies>
      <buildProviders>
      </buildProviders>
    </compilation>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <customErrors mode="Off"/>
    <sessionState mode="InProc" timeout="90"/>
    <httpHandlers>

    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>