<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
 <system.web.extensions>
       <scripting>
           <webServices>
               <jsonSerialization maxJsonLength="2147483644"/>
           </webServices>
       </scripting>
   </system.web.extensions>
  <connectionStrings>
    <add name="ConnEG_Temp" connectionString="Data Source=10.2.0.4:9433;Initial Catalog=EG_Temp;User=egpuse4pms23;Password=FCBl0ckB@l!ka123" />
   <add name="Exl03Con" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="Exl03ConCsv" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Text;HDR=YES;FMT=Delimited(,)'" />
    <add name="Exl07Con" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
  </connectionStrings>
  <appSettings>
    <!--<add key="ConStr" value="data source=MW_PAWAN_PC\MICROWARE_PAWAN;DataBase=Education;Integrated Security=SSPI"/>-->
    <!--<add key="ConStr" value="data source=103.11.85.141;DataBase=Education;User=Education;Password=mw2Master1Edu0" />-->
    <!--<add key="ConStr" value="Data Source=VIPIN-PC\SQLEXPRESS;database=EDU;Integrated Security=true;"/>-->
    <!--<add key="ConStr" value="data source=HITESH-MW\SQL2008R2EXPRESS;DataBase=EG04061026;Integrated Security=True;"/>-->

    <!--<add key="ConStr" value="Data Source=EducateGirls.db.3975866.hostedresource.com;Initial Catalog=EducateGirls;User=educategirls;Password=mw2Mafgfster1EG0!"/>-->
    <!--<add key="ConStr" value="Data Source=180.179.170.254\FEGG-VM1\egPMS,1433;Initial Catalog=PMS;User=sa;Password=Educateworld12#"/>-->
       <add key="ConStr" value="Data Source=10.2.0.4,9433;Initial Catalog=PMS04March2019;User=egpuse4pms23;Password=FCBl0ckB@l!ka123" />
    
    
		<add key="PrimaryDb" value="PMS" />
    <add key="TempDatabase" value="EG_Temp" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="104857606">
          <readerQuotas />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
 <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NetTopologySuite" publicKeyToken="f580a05016ebada1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.15.1.0" newVersion="1.15.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <httpRuntime maxRequestLength="1048576033" executionTimeout="3600" />
    <trust level="Full" originUrl="" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <browserCaps>
      <case>
        RequiresControlStateInSession=true
      </case>
    </browserCaps>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <!--controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"-->
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
      </controls>
      <tagMapping />
 </pages>
    <compilation debug="true" targetFramework="4.0">
      <!--targetFramework="4.0"-->
      <assemblies>


      
        <!--<add assembly="Office, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />

       


      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="22880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <customErrors mode="Off" />
    <sessionState mode="InProc" timeout="520" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    
    </httpHandlers>
  </system.web>
  <system.webServer>
<security>
	<requestFiltering>
		<!-- Allow 1GB uploads -->
		<requestLimits maxAllowedContentLength="1073741824"/>
	</requestFiltering>
</security>
   <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
  
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
        
  </system.webServer>

</configuration>